.game-card {
    padding: 0px;
    overflow: hidden;
}
.card {
    background-size: contain;
    background: no-repeat center #fff;
    margin: 10px;
    padding: 0;
    box-shadow: 0.1em 0.1em 0.5em #000;
}

.small-vertical-offset-1 {
    margin-top: 8.33333%; }

.small-vertical-post-offset-1 {
    margin-bottom: 8.33333%; }

.start-button {
    background: url('/assets/img/start.png') no-repeat center;
    background-size: contain;
}

.start-button-small {
    background: url('/assets/img/start.png') no-repeat center;
    background-size: contain;
    width: 200px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.seq-in .content {
    transform: translateY(0);
    transition: 2s;
}
