<!doctype html>
<html lang="pl" ng-app="application">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link href="./assets/css/app.css" rel="stylesheet" type="text/css">
    <script src="./assets/js/vendor/jquery.min.js"></script>
    <script src="./assets/js/vendor/jquery.cookie.js"></script>
    <script src="./assets/js/vendor/jquery.flip.min.js"></script>
    <script src="./assets/js/vendor/placeholder.js"></script>
    <script src="./assets/js/vendor/fastclick.js"></script>
    <script src="./assets/js/app.js"></script>
    <link href="./assets/css/fungame.css" rel="stylesheet" type="text/css">
  </head>
  <body>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
