<!doctype html>
<html lang="pl" ng-app="application">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link href="./assets/css/app.css" rel="stylesheet" type="text/css">
    <script src="./assets/js/vendor/jquery.min.js"></script>
    <script src="./assets/js/vendor/jquery.cookie.js"></script>
    <script src="./assets/js/vendor/jquery.flip.min.js"></script>
    <script src="./assets/js/vendor/jquery.transit.min.js"></script>
    <script src="./assets/js/vendor/placeholder.js"></script>
    <script src="./assets/js/vendor/fastclick.js"></script>
    <script src="./assets/js/app.js"></script>
    <link href="./assets/css/fungame.css" rel="stylesheet" type="text/css">
      <link href="./assets/css/sequence-theme.mono.min.css" rel="stylesheet" media="all">
  </head>
  <body>
  <div class="seq" id="sequence">
    <div class="grid-frame vertical">
      {% block content %}{% endblock %}
    </div>
  </div>
    <script src="./assets/js/vendor/imagesloaded.pkgd.min.js"></script>
    <script src="./assets/js/vendor/hammer.min.js"></script>
  </body>
</html>
