{% extends "layout.html" %}

{% block title %}Gra{% endblock %}
{% block content %}
    <div class="grid-block vertical">
        <div class="grid-block small-vertical-offset-1 small-up-3">

            <div class="grid-block game-card-container">
                <div id="game-card1" class="grid-content game-card" data-is-ok="1">
                    <div class="front card" style="background-image: url('./img/star.png'); background-size: contain;">
                    </div>
                    <div class="back card" style="background-image: url('./img/ok.jpg'); background-size: contain;">
                    </div>
                </div>
            </div>

            <div class="grid-block game-card-container">
                <div id="game-card2" class="grid-content game-card" data-is-ok="0">
                    <div class="front card" style="background-image: url('./img/star.png'); background-size: contain;">
                    </div>
                    <div class="back card" style="background-image: url('./img/ok.jpg'); background-size: contain;">
                    </div>
                </div>
            </div>

            <div class="grid-block game-card-container">
                <div id="game-card3" class="grid-content game-card" data-is-ok="0">
                    <div class="front card" style="background-image: url('./img/star.png'); background-size: contain;">
                    </div>
                    <div class="back card" style="background-image: url('./img/ok.jpg'); background-size: contain;">
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-block">
            <div class="grid-content start-button">
            </div>
        </div>
    </div>
{% endblock %}

