{% extends "layout.html" %}

{% block title %}Gra{% endblock %}
{% block content %}
    <div class="grid-block small-up-3">
        <div class="grid-block"><img src="./img/star.png" /></div>
        <div class="grid-block"><img src="./img/star.png" /></div>
        <div class="grid-block"><img src="./img/star.png" /></div>
        <div class="grid-block"><img src="./img/star.png" /></div>
        <div class="grid-block"><img src="./img/star.png" /></div>
        <div class="grid-block"><img src="./img/star.png" /></div>
    </div>
{% endblock %}

