{% extends "layout.html" %}

{% block title %}Gra{% endblock %}
{% block content %}
    <div class="grid-block vertical">

        <div class="grid-block cards-container {% if cards|length > 5 %}small-up-{{ (cards|length / 3)|round }}{% endif %}">
            {% for i,card in cards %}
                <div class="grid-block game-card-container">
                    <div id="game-card{{ i }}" class="grid-content game-card" data-is-ok="{{ card.chosen }}"
                         data-is-guessed="0">
                        <div class="front card"
                             style="background-image: url('{{ card.href }}'); background-size: contain;"></div>
                        <div class="back card"
                             style="background-image: url('./img/ok.jpg'); background-size: contain;"></div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div style="text-align: right; padding: 0 20px 15px 0;">
            <a class="finish-earlier"><img height="100" width="100" src="./img/end.png"></a>
        </div>
    </div>

{% endblock %}

