{% extends "layout.html" %}

{% block title %}Gra{% endblock %}
{% block content %}
    <div class="grid-block">
        <div class="grid-block">karta</div>
        <div class="grid-block">karta 2</div>
    </div>
{% endblock %}

