{% extends "layout.html" %}

{% block title %}Gra{% endblock %}
{% block content %}
    <div class="grid-content">
        Zapamiętaj poniższe obrazki
    </div>
    <div class="grid-block {% if cards|length > 5 %}small-up-5{% endif %}">
        {% for item in cards %}
        <div class="grid-block">
            <div class="grid-content" style="padding: 0">
                <img src="{{ item.href }}" />
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}

