{% extends "layout.html" %}

{% block title %}Gra{% endblock %}
{% block content %}
    <div class="grid-block vertical">
        <div class="grid-block "
    <div class="grid-block {% if cards|length > 5 %}small-up-5{% endif %}">
        {% for item in cards %}
        <div class="grid-block">
            <div class="grid-content card"
                 style="background-image: url('/{{ item.href }}'); background-size: contain;">
            </div>
        </div>
        {% endfor %}
    </div>
        </div>
{% endblock %}

