{% extends "layout.html" %}

{% block title %}Gra{% endblock %}
{% block content %}
    <div class="grid-block vertical content">
        <div class="grid-block small-vertical-offset-1 {% if cards|length > 5 %}small-up-{{ (cards|length / 2)|round }}{% endif %}">
            {% for item in cards %}
                <div class="grid-block">
                    <div class="grid-content card"
                         style="background-image: url('/{{ item.href }}'); background-size: contain;">
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="grid-block">
            <div class="grid-content">
                <a href="{{ app.request.baseUrl ~ '/game?number=' ~ number ~ '&total=' ~ total ~ '&unique=' ~ unique }}">
                    <img height="200" width="200" src="./img/start.png">
                </a>
            </div>
        </div>
    </div>
{% endblock %}

