{% extends "layout.html" %}

{% block title %}Gra{% endblock %}
{% block content %}
    <div class="grid-block vertical content">
        <div class="cards-container grid-block">
            {% for item in cards %}
                <div class="grid-block">
                    <div class="grid-content card game-card"
                         style="background-image: url('/{{ item.href }}'); background-size: contain;">
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="grid-block" style="flex: 0 0 8.33333%">
            <div class="grid-content">
                <a href="{{ app.request.baseUrl ~ '/play?number=' ~ number ~ '&total=' ~ total ~ '&unique=' ~ unique }}">
                    <img height="200" width="200" src="./img/end.png">
                </a>
            </div>
        </div>
    </div>
{% endblock %}

